.adds {
 margin-top: 40px;
}
.mainadds{
  margin: 0 65px;
}
.gray {
  color: rgb(146, 146, 144);
}

.checkbox {
  width: 340px;
  display: flex;
  margin-top: 2rem;
  background-color: #f0f2f3;
  border: 1px solid #0e049b;
  padding: 4px 10px;
  border-radius: 10px;
  align-items: center;
}

.checkbox .span {
  padding: 0.7rem;
  background-color: transparent;
  height: 40px;
  border: 0.1px solid  #f0f2f3;
  width: 200px;

}
.checkbox .span p{
  font-size: 12px;
}

.analysis {
  color: blueviolet;
  font-weight: bold;
  margin-left: auto;
}
.navbtn3 {
  margin: 58px 1px;
  width: 365px;
  display: flex;
  justify-content: space-between;
}

.navbtn3 button {
  font: inherit;
  cursor: pointer;
  background-color: #004777;
  color: white;
  padding: 0.5rem 2rem;
  border: 1px solid #f7eff2;
  border-radius: 4px;
  font-weight: bold;
}
.navbtn3 button a {
  text-decoration: none;
  color: #fff;
}
.navbtn3 h4 a {
  margin-top: 10px;
  text-decoration: none;
}

.navbtn3 button:hover,
.navbtn3 button:active {
  background-color: #110ea5;
  border-color: #0e11a5;
}

@media screen and (max-width: 750px) {
  .adds {
    background-color: #fff;
    height: 55vh;
    top: -290px;
    z-index: 5;
    width: 340px;
    border-radius: 10px;
    position: relative;
  }
  .checkbox {
    position: relative;
    width: 230px;
    height: 49px;
    margin: 4px 0 ;
    margin-left: 20px;
    margin-top: 15px;
  }
  .gray {
    font-size: 14px;
  }
  .title {
    margin-left: 15px;
    margin: 0 15px;
    width: 230px;
  }
  .mainadds {
    position: absolute;
    width: 280px;
    margin-left: 30px;
    margin-top:25px;
  }
  
  .navbtn3{
    width: 305px;
    margin: 100px 0;
  }
  /*
  .contain3{
    display: grid;
  } */
}
