.finishing {
  margin: 45px 66px;

  height: 100%;
}

.gray {
  color: rgb(146, 146, 144);
  font-size: 14px;
}

.checkbox {
  width: 340px;
  height: 140px;
  display: grid;
  margin-top: 2rem;
  box-shadow: 0 1px 2px rgba(3, 3, 3, 0.2);
  background-color: #f4f7f8;
  padding: 15px 9px;
  border-radius: 10px;
  align-items: center;
}
.checkbox p{
  font-size: 12px;
  font-weight: 600;
}
.checkbox:hover {
  box-shadow: none;
}
.checkbox span {
  padding: 0.7rem;
}
.check1{
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid rgb(201, 197, 197);
  padding: 18px 0;
}
.options{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total{
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  height: 100%;
}
.totals{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 336px;
}
.analysis {
  color: blueviolet;
  font-weight: 500;
  font-size: 13px;
  margin-left: auto;
}
.change{
  height: 10px;
  color: #8c0ea5;
  text-decoration: none;
}
.navbtn3 {
  /* position: absolute; */
  margin: 155px -40px;
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}

.navbtn3 button {
  font: inherit;
  cursor: pointer;
  background-color: #004777;
  color: white;
  padding: 0.5rem 2rem;
  border: 1px solid #f7eff2;
  border-radius: 4px;
  font-weight: bold;
}
.navbtn3 button a {
  text-decoration: none;
  color: #fff;
}
.navbtn3 h4 a {
  text-decoration: none;
}


.navbtn3 button:hover,
.navbtn3 button:active {
  background-color: #110ea5;
  border-color: #0e11a5;
}

@media screen and (max-width: 750px) {
  .total{
    position: relative;
    width: 330px;
    z-index: 6;
    top: -58px;
    border-radius: 8px;
    margin: 0 25px;
    padding: 20px 0;
    background-color: #fff;
    height: 350px;
    
  }
  .finishing{
    width: 252px;
    /* height: 330px; */
    margin: 19px 38px;
   
   }
   .checkbox {
    width: 240px;
    margin-bottom: 15px;
    background-color: #f5f6fc;
    margin: 18px 0;
  }
  .total{
    margin-top: 18px;
    width: 325px;
  }
  .totals{
   width: 235px;
  }
  .navbtn3{
    width: 360px;
    margin: 240px -77px;
  }
  .gray{
    margin: 9px 0;
    margin-bottom: 10px;
  }
  
}