/* .title {
  margin-left: 2.7rem;
} */
.finishing {
  margin: 35px 66px;
}

.gray {
  color: rgb(146, 146, 144);
  font-size: 14px;
}

.checkbox {
  width: 340px;
  height: 50px;
  display: flex;
  margin-top: 2rem;
  box-shadow: 0 5px 7px rgba(3, 3, 3, 0.2);
  background-color: #d5d8da;
  padding: 9px 9px;
  border-radius: 10px;
  align-items: center;
}
.checkbox:hover {
  box-shadow: none;
}
.checkbox span {
  padding: 0.7rem;
}

.analysis {
  color: blueviolet;
  font-weight: bold;
  margin-left: auto;
}
.navbtn3 {
  /* position: absolute; */
  margin: 75px -40px;
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.navbtn3 button {
  font: inherit;
  cursor: pointer;
  background-color: #004777;
  color: white;
  padding: 0.5rem 2rem;
  border: 1px solid #f7eff2;
  border-radius: 4px;
  font-weight: bold;
}
.navbtn3 button a {
  text-decoration: none;
  color: #fff;
}
.navbtn3 h4 a {
  text-decoration: none;
}


.navbtn3 button:hover,
.navbtn3 button:active {
  background-color: #110ea5;
  border-color: #0e11a5;
}

@media screen and (max-width: 750px) {
  .adds {
    margin-bottom: 1rem;
  }
  .total{
    top: -260px;
    position: relative;
    width: 330px;
    height: 55vh;
    z-index: 6;
    margin-left: 5px;
    background-color: #fff;
    border-radius: 8px;
  }
  .finishing{
   width: 250px;
   margin: 0 30px;
   padding: 10px;
  }
  .checkbox {
    width: 235px;
    height: 41px;
    margin-bottom: 15px;
    background-color: #f5f6fc;
    margin: 10px 5px;
  }
  .title {
    margin: 13px 5px;
  }
  .title h1{
    margin-top: 5px;
  }
  .navbtn3 {
    width: 370px;
  margin: 100px -75px;
    
    
  }
  .contain4 {
    display: grid;

  }
  /* .total{
    margin: 5px;
  } */
}
