.side {
  margin: 13px;
  text-align: center;
  width: 100%;
  height: 90vh;
  border-radius: 10px;
  background-image: url("../image//bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
}
.sidenav {
  top: 40px;
  margin-left: 10px;
  
}

.sidenav section {
  
  margin: 27px 25px;
  display: flex;
  margin-bottom: 1.4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
p {
  font-weight: bold;
}
.sidenav section h3 {
  padding: 9.5px 13.5px;
  border-radius: 50%;
  background: #0f0cc7;
  color: #fff;
  margin-right: 0.7rem;
  font-size: 15px;
  font-weight: 500px;
  border: 1px solid #f7eff2;
}
.texts{
  margin-top: 2px;
}
.texts h6{
 
  color: #fff;
  letter-spacing: 1px;
}
.texts p {
  font-weight: 400px;
  font-size: 12px;
  color: #fff;
}

.step1 {
  margin-right: 1.4rem;
}
.step2 {
  margin-right: 2.7rem;
}
.step3 {
  margin-right: 0.7rem;
}
.step4 {
  margin-right: 0.8rem;
}
@media screen and (max-width: 750px) {
  .side {
    z-index: 5;
    margin: 25px -10px;
    background-image: none;
    border-radius: 1px;
    height: 90px;
    
  }

  .sidenav {
    margin: 1px 0;
    display: flex;
    justify-content: center;
    
  }

  .sidenav section {
    margin-top: 1rem;
    width: 15px;
  }
  section .texts {
    display: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .sidenav section h3 section {
    display: flex;
    margin: 1rem;
    margin-bottom: 1.5rem;
    color: #fff;
  }
}
